html {
     margin: 0px;
     padding: 0px;
     width: 100%;
     height: 100%;
}
body {
     background-color: #282c34;
     margin: 0px;
     padding: 0px;
     width: 100%;
     height: 100%;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#root {
     display: flex;
     flex-direction: row;
     width: 100%;
     height: 100%;
}
